.card, .card-body {
    margin-bottom: 25px;
    border-radius: 0 !important;
}

.card {
    border: thin black solid !important;
}

.todo-text, .todo-1, .todo-text1, .todo-text2, .exp1-title, .text-exp {
    color: blueviolet;
}

.todo-text, .exp1-title, .exp1-img {
    margin-top: 30px;
}

.exp1-title {
    text-align: center;
}

.todo-1 {
    text-align: center;
    margin-bottom: 30px !important;
}

.text-exp, .card-2, .exp2-img {
    padding: 30px;
}

.expT {
    padding: 22px;
}

.to-L {
    text-align: center;
}

.color {
    width: 100% !important;
}

.col-sm-6 {
    width: 500px !important;
}

.abt {
    margin-bottom: 7rem !important;
}

.color1, .color2, .color3, .color4 {
    color: black !important;
    justify-content: center !important;
    display: flex;
}

.color1:hover {
    color: #04D9D9 !important;
}

.color2:hover {
    color: #04D9D9 !important;
}

.color3:hover {
    color: #04D9D9 !important;
}

.color4:hover {
    color: #04D9D9 !important;
}

.text1, .text2, .abtUs {
    text-align: center !important;
}

.fa {
    z-index: 1 !important;
}

.img-123 {
    height: 600px;
}