html {
    position: relative;
    min-height: 100%;
}

/* Footer */
.footer {
    height: 40px;
    text-align: center;
    position: fixed;
    width:100%;
    display: block;
    bottom: 0 !important;
    padding: 10px;
    line-height: 20px;
    background: linear-gradient(
        90deg,
        #04D9D9 0%,
        #3B0273 100%
        
      );
}

#aboutUs {
    color: white;
}




.abtUs {
    color: white;
    z-index: 1;
    padding: 10px;
}
.abtUs:hover {

    color:  #ecd7fd;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
